<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon style="cursor: pointer" (click)="back()">
       arrow_back
    </mat-icon>
    <span class="fill-space"></span>
      <mat-icon (click)="logout()" style="cursor: pointer; float:right"   >exit_to_app</mat-icon>
  
  </mat-toolbar-row>
</mat-toolbar>


<div class="center-menu">
  <div flex-layout="column">
      <a href="/cadastros/empresas">
        <div  class="menu-btn" flex-layout="row">
          <mat-icon class="menu-icon left">domain</mat-icon>
          EMPRESAS
        </div>
      </a>
      <a href="/cadastros/usuarios">
        <div class="menu-btn" style="text-align: left" flex-layout="row">
          <mat-icon class="menu-icon right">people</mat-icon>
          FUNCIONARIOS
        </div>
      </a>
  </div>
</div>