<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon style="cursor: pointer" (click)="back()">
       arrow_back
    </mat-icon>
    <mat-form-field style="width: 300px; margin : 0 auto;" floatLabel="never">
      <input id="searchText" matInput [(ngModel)]="search" style="padding-left: 5px; padding-right: 5px" placeholder="QR Code">
      <mat-icon class="searchIcon" id="searchBtn" (click)="searchQrCode()">
          search
       </mat-icon>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<mat-icon *ngIf="data.id" style="cursor: pointer" (click)="liberarAcesso()">
  vpn_key
</mat-icon>

<div class="center-menu">
  <div flex-layout="column">
      <a href="/portaria/liberacao-rapida">
        <div  class="menu-btn" flex-layout="row">
          <mat-icon class="menu-icon left">view_comfy</mat-icon>
          ENTRADA SEM QR CODE
        </div>
      </a>
      <a href="/portaria/historico">
        <div class="menu-btn" style="text-align: left" flex-layout="row">
          <mat-icon class="menu-icon right">people</mat-icon>
          HISTÓRICO DE ENTRADAS
        </div>
      </a>
  </div>
</div>