<div class="center-menu" style="height: 370px; text-align: center">
  <img src="../../assets/img/logo_web_residence.png" style="margin-bottom: 30px">
  <mat-form-field style="width: 100%">
    <input matInput  placeholder="Login"  [(ngModel)]="username" >
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Senha" type="password"  [(ngModel)]="password" >
  </mat-form-field>
  
  <div mat-dialog-actions align="center">
    <button  (click)="login()" mat-raised-button color="primary">Login</button>
  </div>
</div>