
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <mat-icon style="cursor: pointer" (click)="back()">
       arrow_back
    </mat-icon>
    <span class="fill-space"></span>
      <mat-icon (click)="logout()" style="cursor: pointer; float:right"   >exit_to_app</mat-icon>
   -->
    <span class="fill-space"></span>
      <mat-icon (click)="logout()" style="cursor: pointer; float:right"   >exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<div class="center-menu">
  <div flex-layout="column">
      <a href="/cadastros">
        <div  class="menu-btn" flex-layout="row">
          <mat-icon class="menu-icon left">assignment</mat-icon>
          CADASTROS
        </div>
      </a>
      <a href="/liberacao">
        <div class="menu-btn" style="text-align: left" flex-layout="row">
          <mat-icon class="menu-icon right">thumb_up</mat-icon>
          LIBERAÇÃO
        </div>
      </a>
      <a href="/portaria">
        <div class="menu-btn" flex-layout="row">
          <mat-icon class="menu-icon left">meeting_room</mat-icon>
          PORTARIA
        </div>
      </a>
  </div>
</div>