<mat-icon (click)="logout()" >exit_to_app</mat-icon>

<div class="center-menu">
  <div flex-layout="column">
      <a href="/cadastros">
        <div  class="menu-btn" flex-layout="row">
          <mat-icon class="menu-icon left">assignment</mat-icon>
          CADASTROS
        </div>
      </a>
      <a href="/liberacao">
        <div class="menu-btn" style="text-align: left" flex-layout="row">
          <mat-icon class="menu-icon right">thumb_up</mat-icon>
          LIBERAÇÃO
        </div>
      </a>
      <a href="/portaria">
        <div class="menu-btn" flex-layout="row">
          <mat-icon class="menu-icon left">meeting_room</mat-icon>
          PORTARIA
        </div>
      </a>
  </div>
</div>